// Brand colors
$color-congress-blue :#023f88;
$color-jordy-blue: #75bee9;
// Secondary Colors
$color-tory-blue: #155AB0;
$color-denim: #1967C8;
$color-royal-blue :#3280E1;
$color-picton-blue :#4199EF;
// Grayscale Colors
$color-white :#ffffff;
$color-black :#000000;
$color-black-opacity20:rgba(0, 0, 0, 0.2);
$color-white-opacity20: rgba(255, 255, 255, 0.2);
$color-mine-shaft :#333333;
$color-tundora :#4a4a4a;
$color-boulder :#777777;
$color-mercury :#e5e5e5;
$color-wild-sand :#f6f6f6;
// Utility Colors
$color-alert :#ff4d4d;
$color-warning :#ffa61d;
$color-success :#4fa54b;
// Commonly Used Colors
$color-text :#4a4a4a;
$color-heading :#033f88;
$color-text-link :#033f88;
$color-text-link-hover :#4a4a4a;
$color-light-gray:#9d9d9d;
