.custom-scrollbar {
    overflow: auto;

    @media #{$desktop} {
        overflow: hidden;

        &:hover {
            overflow: auto;
        }
    }

    &,
    &-horizontal,
    &-vertical {
        -webkit-overflow-scrolling: touch;

        &:not(.native) {
            @media #{$desktop} {
                &::-webkit-scrollbar {
                    @include width($spacing-small-half);
                }

                &::-webkit-scrollbar-track {
                    background-color: $color-mercury;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: $color-light-gray;
                }
            }
        }
    }

    &-horizontal,
    &-vertical {
        overflow: hidden;
    }

    &-horizontal {
        overflow-x: auto;

        @media #{$desktop} {
            overflow-x: hidden;

            &:hover {
                overflow-x: auto;
            }
        }
    }

    &-vertical {
        overflow-y: auto;

        @media #{$desktop} {
            overflow-y: hidden;

            &:hover {
                overflow-y: auto;
            }
        }
    }
}

.custom-scrollbar-content {

    .custom-scrollbar &,
    .custom-scrollbar-vertical & {
        @media #{$desktop} {
            @include margin-right(-$spacing-small-half);
        }
    }

    .native:not(.tablet) & {
        @media #{$desktop} {
            margin-right: -17px; // Native scrollbar is 17px
        }
    }
}
